.nav__links {
  text-decoration: none;
  color: black;
  letter-spacing: 0.05px;
  font-weight: 600;
  margin-top: 27px;
}

.activeNavLink {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.05px;
  font-weight: 600;
  color: rgb(215, 194, 177);
  margin-top: 27px;
}

.nav__links:hover {
  color: rgb(215, 194, 177);
}
