.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.image {
  display: block;
}
